.PresClients {
    /* padding: 5rem 0rem; */
    width: 100%;
    /* background-color: #D0D1CE; */
  }
  
  .PresClients-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .hService-heading{
    text-align: center;
  }

  .presClients-card{
    margin: 1rem;
  }

  .presClients-image img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    aspect-ratio: 5/3;
    background-color: white;
    /* border: 1px solid rgb(196, 196, 196); */
  }

  .presclient-box{
    position: absolute;
    top: -125px;
    left: 0;
    z-index: 2;
    padding: 2rem;
    border-radius: 25px;
    background-color: #008e98;
    width: 100%;
  }

  .presclient-box h2{
    color: white;
  }

  @media (min-width: 1200px) {
    .PresClients-main {
      max-width: 1140px;
    }
  }

  @media only screen and (max-width: 540px) {
    .presclient-box{
      border-radius: 0px;
    }
  }